<div class="main_section">
<div fxLayout="column">
<mat-card fxLayoutAlign="center" id="header">Angular Aplication</mat-card>
</div>

    <form [formGroup]="formdata" (ngSubmit) = "onSubmit(formdata.value)">      
    <div class="login_page">
    <div fxLayout="column">
        <mat-form-field fxFlex="50" fxFlexAlign="center" hintLabel="Max 16 characters">
            <input matInput #input maxlength="16" placeholder="Username" formControlName="uname" name="uname">
            <mat-hint align="end">{{input.value?.length || 0}}/16</mat-hint>
            <mat-error *ngIf="!formdata.get('uname').valid && formdata.get('uname').touched"> Please Enter Valid username</mat-error>
            </mat-form-field>
    </div>
    <div fxLayout="column">
        <mat-form-field fxFlex="50"fxFlexAlign="center" hintLabel="Max 8 characters">
        <input matInput #input maxlength="8" placeholder="Password" formControlName="passwd" type="password"  name="passwd">
        <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
        <mat-error *ngIf="!formdata.get('passwd').valid && formdata.get('passwd').touched"> Please Enter Valid password</mat-error>
            </mat-form-field>
    </div>
    <br>
  <div fxLayout="column" >
      <button mat-raised-button color="accent" [disabled]= "!formdata.valid" fxFlexAlign="center" fxFlex="50">Login</button>
  </div>
</div>
    </form>
</div> 
   <div fxLayout="column" >
        <mat-card fxLayoutAlign="center" id="footer" >@APlication angular</mat-card>
    </div>
    